qubrabench@git+https://github.com/qubrabench/qubrabench.git#egg=5df5795ca5706ad975efae5b54ac91e62e97f61f
numpy~=1.24
matplotlib~=3.7
black[jupyter]
pytest~=7.3
ruff~=0.0
mypy~=1.2
pandas-stubs~=2.0
scipy~=1.11.1
cirq~=1.2.0
pandas~=2.0
